<a href="/pages/explorer" class="button small left" style="z-index:99999;"> <%= fa_icon "chevron-left" %> Volver</a>
<div id="map" style="width:100%;height:100%;min-height:600px;position:absolute;top:0;"></div>
<div id='features'></div>

    <script>
		
		var museo = [-75.571529,6.252187];
		// Provide your access token
		mapboxgl.accessToken = 'pk.eyJ1IjoiZmFiaWFucmlvcyIsImEiOiJjaWc3ZDFhMjMwczFvdjRrcHF4bXliMzNoIn0.PTi-JKyYhEaQknlR6iGCoA';
		// Create a map in the div #map
		var map = new mapboxgl.Map({
		    container: 'map', // container id
		    style: 'mapbox://styles/mapbox/light-v8',
		    center: museo, // starting position at the museum
		    zoom: 12, // starting zoom
				bearing: 90
		});
		
		var url = '/pages/index.json';
		var source = new mapboxgl.GeoJSONSource({
		    data: url
		});
		window.setInterval(function() {
		    source.setData(url);
				// console.log("source",source);
		}, 5000);
		

		map.on('style.load', function (e) {
			
			map.setLayoutProperty('country-label-lg', 'text-field', '{name_' + 'es' + '}');
			map.setPaintProperty('water', 'fill-color', '#5796e5');
			map.setPaintProperty('waterway', 'line-color', '#5796e5');
			map.setPaintProperty('landuse_park', 'fill-color', '#4CAF50');
			map.setPaintProperty('hillshade_highlight_bright', 'fill-color', '#70A93F');
			map.setPaintProperty('road-trunk', 'line-color', '#F5BF1D');
			map.setPaintProperty('road-street-low-zoom', 'line-color', '#2d2c26');
			

			var where = [];
			map.on('click', function (e) {
				console.log(e.point);
			  map.featuresAt(e.point, {layer: 'markers', radius: 10, includeGeometry: true}, function (err, features) {
		        if (err) throw err;
		        if (features.length) {
		            // Get coordinates from the symbol and center the map on those coordinates
								where = features[0].geometry.coordinates;
								var new_coord = [];

								new_coord.push(where[0]);
								new_coord.push(where[1]-0.005);
								
			          map.flyTo({
									center: new_coord,
									zoom: 12.7,
									speed: 0.8
								});
								
								var tags = "";
								if (features[0].properties.tag_list.length > 0) {
									features[0].properties.tag_list.forEach(function(entry) {
										tags = tags + "<li><span class='label secondary'>"+entry+"</li>";
									});
									tags = "<li><i class='fa fa-tags fa-flip-horizontal'></i></li>"+tags;
								}
								
								var organiza = features[0].properties.organiza || features[0].properties.user.nombre
								
								var html = "<h5 class='capitalize'>"+features[0].properties.title+"</h5>"+"<div class='text-center'><span class='label success'>"+features[0].properties.cuando+"</span></div><div class='text-center'><a>"+features[0].properties.web+"</a></div>"+"<div class='text-center'>"+features[0].properties.direccion+"</div><ul class='inline no-bullet'>"+tags+"</ul>";
								
		            var tooltip = new mapboxgl.Popup()
		                .setLngLat(features[0].geometry.coordinates)
										.setHTML(html)
		                .addTo(map);
								
								var sidepost = '<div class="image_map"><img src="'+features[0].properties.imagen+'" /></div><h5>'+ features[0].properties.title +'</h5><p class="no-margin maxh">'+ features[0].properties.description+'</p><hr /><h5>Organiza:</h5><div class="logo"><img src="'+features[0].properties.user.logo.thumb.url+'" /></div><h6 class="no-margin">' + organiza + '</h6><h6 class="no-margin subheader">' + features[0].properties.user.lugar + '</h6><h6 class="no-margin subheader">' + features[0].properties.user.direccion + '</h6><br /><div class="row"><div class="large-6 columns text-center"><a><span class="label"> <i class="fa fa-link"></i> ' + features[0].properties.user.web + '</span></a></div><div class="large-6 columns text-center"><span class="label secondary"> <i class="fa fa-phone"></i> ' + features[0].properties.user.telefono + '</span></div></div>';
								
								$('#features').show();
								document.getElementById('features').innerHTML = sidepost;
								
								setTimeout(function() {
									$('#features').hide();
			            map.flyTo({
										center: museo,
										zoom: 12.2,
										speed: 0.6,
									  curve: 1
									});
								}, 20000);
		        }
		    });
			});
			
			// Use the same approach as above to indicate that the symbols are clickable
			// by changing the cursor style to 'pointer'.
			map.on('mousemove', function (e) {
			    map.featuresAt(e.point, {layer: 'markers', radius: 10}, function (err, features) {
			        if (err) throw err;
			        map.getCanvas().style.cursor = features.length ? "pointer" : "";
			    });
			});
			

			map.addSource('markers', source);

		  map.addLayer({
		    "id": "markers",
		    "type": "symbol",
		    "source": "markers",
				"interactive": true,
		    "layout": {
					  "icon-image": "default_marker",
		        "text-field": "{title}",
		        "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
		        "text-offset": [0, 1.5],
						"text-size": 13,
		        "text-anchor": "top",
						"text-optional": true
		    },
		    "paint": {
						"text-color": "#cccccc"
		    }
  		}); // addLayers
			

		});
			
		
		</script>