//general
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.courier{
	font-family: "Courier New", Courier, monospace;
}

.whitetxt{
	color: #fff;
}

.maxh{
  max-height: 250px;
  overflow: hidden;
}

.logo{
  float: left;
  margin: 5px 5px 5px 0;
  min-height: 100px;
  min-width: 70px;
}

.no-margin{
	margin: 0 !important;
}

.capitalize{
  text-transform: capitalize;
}

.inline{
  margin-bottom: 0;
  li{
    display: inline;
    margin-right:5px;
  }
}

.redtxt{
	color: #EF8390;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Courier New", Courier, monospace !important;
}

.full{
  width: 100%;
  min-height: 200px;
}

.laimagen{
  height: 200px;
  overflow: hidden;
}

.error_explanation, #error_explanation{
  margin: 0 10px;
  background-color: rgba(239, 131, 144, 0.23);
  h2{
    font-size: 90%;
    background-color: red;
    padding: 3px 5px;
    color: white;
  }
  ul, ol{
    padding: 10px;
  }
}

.field{
  i{
    font-size: 80%;
  }
}

.field_with_errors{
  label{
    background-color: red;
    padding: 2px 4px;
    color: #fff; 
  }
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
    border: 1px solid rgba(255,0,0,.4);
    background-color: rgba(255,0,0,.1);
  }
}

.desc{
  min-height: 100px;
  margin: 0;
  line-height: 1.4em;
  font-size: 95%;
  margin-top: 10px;
}

.number{
	display: block;
	background: #C2E4CA;
	width: 40px;
	height: 40px;
	line-height: 40px;
	@include border-radius(100%);
	text-align: center;
	float: left;
	margin-right: 10px;
}
// /general

//sidebar
.sidebar{
	position: relative;
  display: inline-block;
	width: 33%;
  max-width: 330px;
  padding-left: 40px;
  padding-right: 50px;
  height: 100%;
  background: #EF8390;
  color: white;
	float: left;
	margin: 0;
}

#main-fix{
  line-height: 25px;
  padding-top: 10px;
}

.main-content{
 	display: inline-block;
	width: 74%;
	height: 100%;
	margin: 0;
  max-width: 600px;
  float: right;
  @media only screen and (min-width: 980px) { 
    max-width: 655px;
  }
  @media only screen and (min-width: 1025px) { 
    max-width: 700px;
  }
  @media only screen and (min-width: 1080px) { 
    max-width: 750px;
  }
  @media only screen and (min-width: 1240px) { 
    float: none;
    max-width: 915px;
  }
  @media only screen and (min-width: 1280px) { 
    float: none;
    max-width: inherit;
  }
  
	.main-yield{
		min-height: 600px;	
	}
}

.inliner{
	select{
		width: auto;
		padding-right: 20px;
	}
}

.museo_logo{
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

.mde_logo{
	display: block;
	margin-top: 100px;
	text-align: center;
}

#inliner{
	display: inline;
	margin: 0px;
}

#user_nav{
  float: right;
  margin: 40px 5px;
  width: auto;
  min-width: 320px;
  h5, a{
    font-size: 90%;
  }
  .pic{
    float: left;
    margin-right: 10px;
    img{
     @include border-radius(100%); 
     width: 70px;
     height: 70px;
    }
  }
}

.sidebar_date{
  font-family: "Courier New", Courier, monospace;
  font-size: 0.95em;
  padding-top: 6px;
  font-weight: bold;
}

#necessities{
	display: none;
}

.side_footer{
	position: absolute;
	bottom: 10px;
	right: 40px;
}
// /sidebar

.button.success, .label.success{
	color: #fff !important;
}

.alert-box.success{
  color: #fff !important;
}

textarea{
  min-height: 150px !important;
}

.default{
  margin-right: 10px;
}

.select2-container .select2-search--inline .select2-search__field{
  margin-bottom: 0;
  padding: 0;
  box-shadow:none !important;
  height: 25px !important;
}

.minimize{
  padding: 0 20px 0 0 ;
}


.mapboxgl-ctrl-group > button{
  margin: 0;
  color: #000;
}

#features {
  display: none;
  position: absolute;
  padding: 20px;
  top: 10px;
  right: 10px;
  width: auto;
  max-width: 350px;
  background: rgba(255, 255, 255, 0.9);
  p{
    font-size: 13px !important;
  	max-height: 250px;
  	overflow: hidden;
  }
}

.image_map{
  margin-bottom:10px;
  img{
    width: 100%;	
  }
  max-height: 400px;
  overflow: hidden;
}

.mapboxgl-popup-close-button{
  color: gray !important;
  padding: 5px 10px !important;
}

.mapboxgl-popup-content{
  background: rgba(white, .9) !important;
  max-width: 350px;
  img{
    width: 100%;
    max-height: 320px;
  }
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
  border-top-color:rgba(white, .9) !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
  border-bottom-color:rgba(white, .9) !important;
}

.side-nav li a:not(.button){
  padding-left: 0 !important;
  color: #fff !important;
  &:hover{
    transition: padding 0.5s ease;
    padding-left: 5px !important;
    &:after{
      content:">";
      float: right;
      margin-right: 5px;
    }
  }
}

//not mine in a millon years
#logos {
    width: 100%;
    background: white;
    text-align: center;
    color: #164559;
    font-size: 0.8em !important;
    line-height: 14px;
    .separar{
      border-right: 1px solid #164559;
    }
}

.tipo_patrocinio {
    display: inline-block;
    float: left;
    padding: 0 10px;
    margin-bottom: 20px;
    min-height: 84px;
    .titulo{
      text-align: left;
      font-size: 1.3em;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .textual{
      text-align: left;
      display: table;
    }
}

a.patrocinador{
  padding: 8px 13px;
  &.top_img{
    img{
      vertical-align: top;
    } 
  }
}

#patrocinadores .tipo_patrocinio.textual a.patrocinador{
  padding: 0;
  color: #164559;
  display: inline-block;
  text-align: left;
  &:after{
    content: " /";  
  }
}

#patrocinadores .grupo {
    float: left;
    padding: 0;
    min-height: 103px;
}

#patrocinadores .tipo_patrocinio.col-4 .grupo {
    vertical-align: top;
    float: none;
    display: table-cell;
}

#patrocinadores .tipo_patrocinio.textual .grupo:nth-of-type(1) {
    width: 225px;
}

#patrocinadores .tipo_patrocinio.textual .grupo {
    display: table-cell;
    float: none !important;
    vertical-align: center;
    padding-right: 10px;
}

#patrocinadores .tipo_patrocinio.textual .grupo {
    min-height: auto;
    text-align: left;
    a.patrocinador{
      &:hover{
        text-decoration: underline;
      }
    }
}


span.patrocinador.alcaldia{
  width: 140px;
  display: inline-block;
  text-align: justify;
}

#patrocinadores .grupo .patrocinador, #patrocinadores .grupo .linea{
  display: block;
  padding: 8px 20px;
}

#patrocinadores .grupo .linea .patrocinador{
  display: inline-block;
}

#patrocinadores .linea a.patrocinador{
  padding: 8px 7px;
}

#patrocinadores .tipo_patrocinio.textual .grupo:nth-of-type(2){
  padding-left: 20px;
}

