<br /><br />
<div id="logos" class="clear">
	<div id="patrocinadores">
		<div class="tipo_patrocinio separar">
			<div class="titulo">Un proyecto:</div>
			<a href="http://museodeantioquia.co/" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/museodeantioquia.png"></a>
		</div>
		<div class="tipo_patrocinio separar">
			<div class="titulo">En asocio con:</div>
			<a href="https://www.medellin.gov.co/" target="_BLANK" class="patrocinador top_img"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/alcaldiademedellin.png"></a>
			<span class="patrocinador alcaldia">El gobierno de Medellín apoya la transformación social a través del arte.</span>
		</div>
		<div class="tipo_patrocinio col-3 right">
			<div class="titulo">Patrocina:</div>
			<a href="http://www.artedustiftung.ch/es/inicio.html" target="_BLANK" class="patrocinador separar"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/artedu.png"></a>
			<a href="http://www.mincultura.gov.co" target="_BLANK" class="patrocinador separar"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/mincultura.png"></a>
			<a href="http://www.mondriaanfonds.nl/en/" target="_BLANK" class="patrocinador separar"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/mondriaan.png"></a>
			<a href="http://www.grupobancolombia.com/home/index.asp" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/bancolombia.png"></a>
		</div>
		<div class="tipo_patrocinio col-4">
			<div class="titulo">Aliados:</div>
			<div class="grupo separar">
				<a href="http://www.publik.co/" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/publik.png"></a>
				<a href="http://www.culturantioquia.gov.co/" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/institutoculturadeantioquia.png"></a>
			</div>
			<div class="grupo separar">
				<a href="https://www.grupoargos.com/es-es/" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/grupoargos.png"></a>
				<div class="linea">
					<a href="http://www.celsia.com/" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/celsia.png"></a>
					<a href="http://www.argos.co/colombia" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/argos.png"></a>
				</div>
			</div>
			<div class="grupo separar">
				<a href="http://www.efectimedios.com/" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/efectimedios.png"></a>
				<a href="http://www.confiar.coop/fundacion/" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/confiar.png"></a>
			</div>
			<div class="grupo separar">
				<a href="http://www.epm.com.co/site/" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/epm.png"></a>
				<a href="http://www.sura.com/" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/sura.png"></a>
			</div>
			<div class="grupo separar">
				<a href="http://www.camaramedellin.com.co" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/ccmedellin.png"></a>
				<a href="http://www.arthotel.com.co/" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/arthotel.png"></a>
			</div>
			<div class="grupo separar">
				<a href="http://www.artiscontemporary.org/" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/artiscontemporary.png"></a>
				<a href="https://www.metrodemedellin.gov.co/" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/metromed.png"></a>
			</div>
			<div class="grupo">
				<a href="http://www.avianca.com" target="_BLANK" class="patrocinador"><img src="http://mde.org.co/mde15/wp-content/themes/mde15/images/logos/avianca.png"></a>
				<span class="patrocinador vacio">
			</span></div>
		</div>
		<div class="tipo_patrocinio textual">
			<div class="grupo separar">
				<div class="titulo">Apoyan:</div>
				<a href="http://www.artbo.co/portal/default.aspx" target="_BLANK" class="patrocinador">Artbo</a>
				<a href="http://www.drywalldecolombia.com/" target="_BLANK" class="patrocinador">Drywall de Colombia</a>
				<a href="http://www.espacioodeon.com/" target="_BLANK" class="patrocinador">Espacio Odeón</a>
				<a href="http://www.tehatsu.com/" target="_BLANK" class="patrocinador">Hatsu</a>
				<a href="http://www.kreanta.org/" target="_BLANK" class="patrocinador">Kreanta</a>
				<a href="http://ismm.com.co/" target="_BLANK" class="patrocinador">Instituto Superio Mariano Moreno</a>
			</div>
			<div class="grupo">
				<div class="titulo">Instituciones Adjuntas:</div>
				<a href="http://www.corpoasa.edu.co/" target="_BLANK" class="patrocinador">Academia Superior de Artes</a>
				<a href="http://www.colomboworld.com/" target="_BLANK" class="patrocinador">Centro Colombo Americano</a>
				<a href="http://centroculturalmoravia.org/" target="_BLANK" class="patrocinador">Centro de Desarrollo Cultural de Moravia</a>
				<a href="http://www.bellasartesmed.edu.co/" target="_BLANK" class="patrocinador">Fundación Universitaria Bellas Artes</a>
				<a href="http://www.udea.edu.co/" target="_BLANK" class="patrocinador">Instituto Tecnológico Metropolitano</a>
				<a href="http://www.museocasadelamemoria.org/" target="_BLANK" class="patrocinador">Museo Casa de la Memoria</a>
				<a href="http://www.parqueexplora.org/" target="_BLANK" class="patrocinador">Parque Explora</a>	
				<a href="http://www.udea.edu.co/" target="_BLANK" class="patrocinador">Universidad de Antioquia</a>	
				<a href="http://medellin.unal.edu.co/" target="_BLANK" class="patrocinador">Universidad Nacional de Colombia</a>
				<a href="http://www.upb.edu.co/" target="_BLANK" class="patrocinador">Universidad Pontificia Bolivariana</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>