<div class="sidebar">
  <a href="http://www.museodeantioquia.co/" class="museo_logo">
    <%= image_tag "http://mde.org.co/mde15/wp-content/themes/mde15/images/logo-museo.png" %>
  </a>
  <div class="mde_logo">
		<% if params[:page].present? && params[:page] == "explorer"%>
	    <a href="/"><%= image_tag "http://mde.org.co/mde15/wp-content/themes/mde15/images/logo-mde.png" %></a>
		<% else %>
  		<a href="http://mde.org.co/mde15/es"><%= image_tag "http://mde.org.co/mde15/wp-content/themes/mde15/images/logo-mde.png" %></a>
		<% end %>
  </div>
  <div class="sidebar_date">Octubre 2015 - Marzo 2016</div>
	<% if params[:page].present? && params[:page] == "explorer"%>
	<ul class="side-nav" role="navigation" title="Link List">
		 <li role="menuitem"><a href="/pages/explorer">Todos los eventos</a></li>
	   <li role="menuitem"><a href="/pages/explorer?ruta=nororiental">Zona Nororiental</a></li>
	   <li role="menuitem"><a href="/pages/explorer?ruta=centroriental">Zona Centroriental</a></li>
	   <li role="menuitem"><a href="/pages/explorer?ruta=centroccidental">Zona Centroccidental</a></li>
	   <li role="menuitem"><a href="/pages/explorer?ruta=suroriental">Zona Suroriental</a></li>
	   <li role="menuitem"><a href="/pages/explorer?ruta=suroccidental">Zona Suroccidental</a></li>
	   <li role="menuitem"><a href="/pages/explorer?ruta=rural">Distrito rural</a></li>
	 </ul>
	 <div class="text-left">
	 	<a class="button radius small" href="/">Volver</a>
		<% if params[:page].present? && params[:page] == "explorer"%>
	  		<a class="button small radius secondary right" href="/pages/map">Mapa</a>  
		<% end %>
	 </div>
	 <% else %>
 		 <div class="text-center">
 		 	<a class="button small radius left" href="/pages/explorer">Ver todos los eventos</a>
 		 </div>
	 <% end %>
  <div class="side_footer">
		<% if !params[:page].present? && params[:page] != "explorer"%>
   		<a class="courier whitetxt" href="http://www.museodeantioquia.co/suscripcion-boletin-mde15/">Boletín</a>
		<% end %>
  </div>
</div>

