<div class="sidebar">
  <a href="http://www.museodeantioquia.co/" class="museo_logo">
    <%= image_tag "http://mde.org.co/mde15/wp-content/themes/mde15/images/logo-museo.png" %>
  </a>
  <div class="mde_logo">
    <a href="http://mde.org.co/mde15/es"><%= image_tag "http://mde.org.co/mde15/wp-content/themes/mde15/images/logo-mde.png" %></a>
  </div>
  <div class="sidebar_date">Octubre 2015 - Marzo 2016</div>
	<br />
	<ul class="side-nav" role="navigation" title="Link List">
		 <li role="menuitem"><a href="/pages/explorer">Todos</a></li>
	   <li role="menuitem"><a href="/pages/explorer?ruta=nororiental">Nororiental</a></li>
	   <li role="menuitem"><a href="/pages/explorer?ruta=centroriental">Centroriental</a></li>
	   <li role="menuitem"><a href="/pages/explorer?ruta=centroccidental">Centroccidental</a></li>
	   <li role="menuitem"><a href="/pages/explorer?ruta=suroriental">Suroriental</a></li>
	   <li role="menuitem"><a href="/pages/explorer?ruta=suroccidental">Suroccidental</a></li>
	   <li role="menuitem"><a href="/pages/explorer?ruta=rural">Distrito rural</a></li>
	 </ul>
  <div class="side_footer">
    <a class="courier whitetxt" href="http://www.museodeantioquia.co/suscripcion-boletin-mde15/">Boletín</a>
  </div>
</div>

